/* 
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/
  :root{
    /* Colores */
    --bitcoin-orange: #00df82;
    --soft-orange: #FFE9D5;
    --secondary-blue: #002c65;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFF;
    --verde: #d7f910;
    --azul: #17cee6;
  }
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior : smooth;
  }


a:active,
a:link,
a:visited {
	text-decoration: none;
}
a {
	background-color: transparent;
}

  .nav {
    height: 8rem;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
  }
  .header__middle {
    display: flex;
    align-items: center;
  }
  
  .header__left {
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }
  
  .header__logo {
    height: 30%;
    width: 13rem;
  }
  
  .header__right {
    margin: auto 0;
    padding: 0 2rem;
  }
  
  .header__nav__btn {
    display: none;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem;
    color: white;
    border-radius: 1.5rem;
    text-transform: capitalize;
    transition: background 0.3s linear;
  }
  .header__nav__btn.menu__btn {
    display: inline-block;
  }
  
  ul{
    list-style: none;
  }
  
  .header__nav__btn:hover {
    background: black;
  }
  

  
  .header__middle .header__nav__btn {
    margin-right: 2rem;
  }

  header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px; 
    text-align: center;
    background-color: var(--warm-black);
    z-index: 1; 
  }

  .header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 2rem;
    text-align: center;
    align-self: center;
  }
  .header--title-container h1{
    font-size: 4rem;
    font-weight: bold;
    line-height: 4rem;
    color: white;
  }
  .header--title-container p{
    margin-top: 25px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: white;
  }
  .header--title-container .header--button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 255px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
  }
  .header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
  } 
 
  
  
  /* navigation.css */
  
  .navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 35rem;
    height: 100%;
    z-index: 10;
    background: #fff;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.5, 0, 0, 0.75);
  }
  
  .navigation.is--active {
    transform: translateX(0);
  }
  
  .navigation ul {
    width: 80%;
    margin: 0 auto;
  }
  
  .navigation ul li {
    width: 100%;
    padding: 1.2rem 0;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    border-radius: 1.2rem;
    transition: background-color 0.33s ease;
  }
  
  .nav__link {
    color: #393c41;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  
  .navigation ul li:hover {
    background: #0000000d;
  }
  
  .close__btn__container {
    text-align: right;
    margin: 2rem 3rem;
  }
  
  .navigation__close__btn {
    width: 3rem;
    cursor: pointer;
  }
  
  .blur__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    transition: display 0.4s ease;
  }
  
  .blur__overlay.is--active {
    display: block;
  }

  main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
  }
  .main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 40px auto;
  }

  .main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
  }
  .main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
  }
  .main-tables-container{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
  }
  .main-currency-table,.main-comission-table{
    width: 90%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", "sans-serif";
    scroll-snap-align: center;
    margin-left: 40px;
  }
  .main-comission-table{
    margin-left: none;
    margin-right: 40px;
  }
  .main-currency-table .currency-table--title, .main-comission-table .comission-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--just-white);
    background-color: var(--black);
  }
  /* .main-comission-table .comission-table--title {
    color: var(--secondary-blue);
  } */
  .currency-table--container, .comission-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    /* border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16); */
  }
  .currency-table--container table, .comission-table--container table{
    width: 100%;
    height: 100%;
    
    border-radius: 15px;
  }
  .currency-table--container td , .comission-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    
  }
  .table__top-title{
    border-radius: 15px 15px 0 0;
  }
  .currency-table--container .table__top-left, .comission-table--container .table__top-left{
    border-radius: 15px 0 0 0;
  }
  .currency-table--container .table__top-right, .comission-table--container .table__top-right{
    border-radius: 0 15px 0 0;
  }
  .currency-table--container .table__bottom-left, .comission-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
  }
  .currency-table--container .table__bottom-right, .comission-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
  }
  .currency-table--container .table__right, .comission-table--container .table__right{
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #757575;
  }
  .currency-table--container .down, .currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: center;
  }
  .currency-table--container .up{
    background-image: url(./assets/icons/trending-up.svg);
  }
  .currency-table--date, .comission-table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    /* background-color: white; */
    border-radius: 8px;
  }
  .currency-table--date p, .comission-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
  }
  .main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
  }
  .product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url(./assets/icons/batata.svg);
  }
  .product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
  }
  .product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
  }
  .product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
  }
  .product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);
  }
  .product-detail--card .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./pyme_assets/pyme-clock.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
  }
  .product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
  }
  .product-detail--card .eye{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./pyme_assets/pyme-eye.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .product-detail--card .money{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./pyme_assets/pyme-dollar-sign.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .product-detail--card .check-mark{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./pyme_assets/pyme-check-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .bitcoin-img-container .backgroundVideo {
    width: 100%;
    height: 150px; 
    object-fit: cover;
  }

  .main-bitcoin--title{
    position: absolute;
    z-index: 1;
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    padding-bottom: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 30px;
    text-align: center;
  }
  .plans--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .plans--title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
  }
  .plans--title p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
  }
  .plans-container--slider{
    display: flex;
    gap: 20px;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    justify-content: center;
  }
  .plans-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-height: 180px;
    max-width: 280px;
    height: 50px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  }
  .plan--tag{
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 6px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
  }
  .plan-card--title{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
  }

  .plan-card--price-negocio{
    /* Tus estilos comunes aquí */
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: var(--black);
  }
  
  .plan-card--price-liquido{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: var(--black);
  }
  
  .span-plan-card{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 10px;
  }
  .plan-card--saving{
    font-size: 1.2rem;
    color: #757575;
  }
  .plan-card--ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
  }
  .plan-card--ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./pyme_assets/pyme-orange-right-arrow.svg);
    vertical-align: text-bottom;
  }
  .plan--tag.basico{
    background-color: #1A9AF7;
  }
  .plan--tag.ilimitado{
    background-color: var(--grey);
    color: var(--black);
  }
  .plans-container--card.limited, .plan-card--ca.limited, .plan-card--title.limited, .plan-card--price.limited{
    background-color: var(--black);
    color: var(--just-white);
  }
  footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--warm-black);
  }
  footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
  }
  .left li{
    margin: 10px 0;
  }
  .left a{
    text-decoration: none;
    color: var(--just-white);
  }
  footer img{
    width: auto;
    height: auto;
    max-width: 150px;
  }

  @media screen and (min-width: 930px) {
    .main-tables-container{
      display: flex;
      width: 930px;
      margin: 0 auto;
    }
    .product-cards--container{
      display: flex;
      flex-wrap: wrap;
      width: 930px;
      margin: 0 auto;
    }
    .plans-container--slider{
      justify-content: center;
    }
    .main-bitcoin--title{
      font-size: 6.5rem;
      padding-bottom: 300px;
    }
    .bitcoin-img-container .backgroundVideo{
      height: 300px;
    }
    .header--title-container{
      margin-top: 5rem;
    }
    .header--title-container h1{
      font-size: 7rem;
      line-height: 6rem;
    }
    .header__nav__btn {
      display: inline-block;
    }
    footer img{
      width: auto;
      height: 80px;
      max-width: none;
    }
  }
  @media screen and (min-width: 523px) {
    .header--title-container{
      margin-top: 3.5rem;
    }
    .header--title-container h1{
      font-size: 5rem;
      line-height: 4rem;
    }
  }
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.loader::after {
    content: '';
    border: 15px solid #DEFB09;
    border-top: 15px solid #000;
    border-radius: 60%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hiddenderecha{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}


/* .scroller {
  max-width: 1280px;
} */

.scroller__inner {
  padding: 1rem 0;
  display: flex;
  gap: 8rem;
  flex-wrap: wrap;
}

.scroller__inner img {
  width: 100px;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 20s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-duration="fast"] {
  --_animation-duration: 20s;
}

@keyframes scroll {
  to {
      transform: translate(calc(-50% - .5rem));
  }
}
